<div class="footer">
  Copyright (c) {{ now.Format "2006"}} Wolf Bergenheim and guest authors as indicated in
  the posts. All articles are published under version 1.0a of the
  <a href="/about/open-game-license/">Open Game License</a> (OGL).

  This site is generated using hugo. <a href="https://gitlab.com/sirwolf77/fudge-fountain">
    <img src="/img/gitlab16x16.svg">
    Source on gitlab
  </a>
</div>
