<div class="post">
<div class="banner">
  <h1>{{ .Title }}</h1>
</div>
<div id="banner-caption"><a href="https://www.deviantart.com/tomtc/art/Everflowing-862399395">Everflowing</a> by <a href="https://www.deviantart.com/tomtc">TomTC</a> on deviant art.</div>
{{ with (.Site.GetPage "/posts") }}
{{ range .Pages.ByDate.Reverse }}
<div class="summary">
  <h1><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
  {{ partial "metadata.html" . }}
  <p>{{ .Summary }}</p>
<a href="{{ .RelPermalink }}">read more &gt;&gt;</a>
</div>
{{ end }}
{{ end }}
</div>
