{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
{{ if ne .Kind "taxonomy" }}
<div class="metadata">
  {{ if .PublishDate }}
  <span class="md-icon"><img src="/img/calendar24x24.svg"></span>
  <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
  {{ end }}
  {{ if .Params.tags }}
    {{ with .Params.tags }}
  <span class="md-icon"><img src="/img/tag24x24.svg"></span>
    {{ range . }}
    {{ $href := print (relURL "tags/") (urlize .) }}
  <a class="tag" href="{{ $href }}">#{{ . }}</a>
    {{ end }}
    {{ end }}
  {{ end }}
</div>
{{ end }}
